
:root {
    --primary: #008080;
    --secondary: #181818;
    --background: whitesmoke;
    --word-role: #b16080;
    --word-tense: #989595;
    
    /* --accent: gold;  */
    /* --white: white; */
    /* --black: #140a00; */
    /* --blue: #045fd4; */
    /* --red: #ff0000; */
    /* --darkpink: #b16080; */
    /* --darkgreen: #008080; */
    /* --lightgreen: #7aa605; */
    /* --grey-dark-color: #cac2c2; */
    /* --grey-light-color: #ede9e5;   */
    /* --background-color: rgb(58,58,58);  */
    
 }
 .dark-mode{
    --primary: gold;
    /* --primary: #d81e0c; */
    --secondary: #ffffff;
    --background: rgb(80,80,80);
    --word-role: #11faa9;
    --word-tense: #cac2c2;
 }

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--secondary);
    /* color: var(--white); */
}
html{
    font-size: 1rem;
    scroll-behavior: smooth; 
    scroll-snap-type: y mandatory;
    scroll-padding-top: 70px;
 }
 body{
     font-size: 1em;
     font-family: 'Open Sans', sans-serif;
     color: var(--secondary);
     background: var(--background);
     /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/lib9.jpg); */
     /* background-size: cover; */
     /* background-position: bottom center; */
     /* background-attachment: fixed; */
 }
 h1{
    font-family: 'Open Sans', sans-serif;
 }
 
 ul{
    list-style: none;
 }
 .container{
    width:720px;
    margin: auto;
    padding: 10px 0px;

    /* border: 1px solid skyblue;    */
 }
 .switch{
   
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
 }
 .mode{
    font-size: 12px;
    font-weight: 300;
 }

 /* nav */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: var(--background);
    /* border: 1px solid greenyellow;    */
}

nav a:hover{
    color: var(--primary);
 }
 .nav-wrapper{
    display: flex;
    align-items: center;
 }
 .logo{     
    display: block;
    width:90%;
    padding-right: 13%;
    text-transform: none;
    font-size: 1.1em;
    font-weight: bold;    
    /* border: 1px solid red; */
 }
 /* .menu{
    display: flex;
    padding: 15px 10px;
    border: 10px solid sandybrown;
 } */
 /* .menu li{
    text-transform: capitalize;
    padding: 15px 10px;
 } */
 .word-name{
    font-size: 1.2em;
    color: var(--primary);    
 }
 .word-role{
    font-size: 1em;
    color: var(--word-role);    
 }
 .word-tense{
    font-weight: 500;
    font-size: .9em;
    color: var(--word-tense);    
 }

 /* hero section */

 .hero-section{
    background: var(--background);
    display: flex;
    height: 100vh;
    padding: 50px 0px;
 }
 .hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
 }
 .hero-wrapper div{
    flex: 1;
 }
 .hero-wrapper h1{
    font-size: 80px;
    color: var(--primary);
    letter-spacing: 4px;
    text-transform: uppercase;
 }
 .hero-wrapper p{
    font-size: 18px;
    margin: 20px 0 30px 0;
 }
 .hero-wrapper .btn{
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--secondary);
    padding: 15px 25px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
 }
 .hero-wrapper .btn:hover{
    background: transparent;
    color: var(--secondary);
 }